<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>
        {% block title %}
        DZ_2
        {% endblock %}
    </title>
</head>
<body>
<nav>
    <p>Создать страницу, на которой будет форма для ввода имени и электронной почты. <br>
        При отправке которой будет создан cookie файл с данными пользователя. <br>
        Также будет произведено перенаправление на страницу
        приветствия, где будет отображаться имя пользователя. <br>
        На странице приветствия должна быть кнопка "Выйти" <br>
        При нажатии на кнопку будет удален cookie файл с данными
        пользователя и произведено перенаправление на страницу
        ввода имени и электронной почты.
    </p>
    <a href="{{ url_for('authorization') }}">Вход</a><br>
</nav>
{% block content %}
{% endblock %}
</body>
</html>